{% extends 'homebase.html.twig' %}

{% block title %}Contact Us |{{ setting[0].title }}{% endblock %}
{% block keywords %} {{ setting[0].keywords }}{% endblock %}
{% block description %} {{ setting[0].description }}{% endblock %}

{% block body %}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Us</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"> CONTACT US </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="contact-info-left">
                        <h2>CONTACT INFO</h2>
                        {{ setting[0].contact |raw }}
                        <ul>
                            <li>
                                <p> <a href="{{ setting[0].email }}"><i class="fas fa-envelope"></i>Email:</a></p>
                            </li>
                            <li>
                                <p><a href="{{ setting[0].twitter }}"><i class="fab fa-twitter"></i>Twitter:</a></p>
                            </li>
                            <li>
                                <p><a href="{{ setting[0].instagram }}"><i class="fab fa-instagram"></i>Instagram:  </a></p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="contact-form-right">
                        <h2>CONTACT FORM</h2>
                        {{ include ('messages.html.twig') }}
                        <form name="messages" method="post" role="form" class="contactForm" >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="messages_name" name="messages[name]" placeholder="Your Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Email" id="messages_email" name="messages[email]"class="form-control" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="messages_subject" name="messages[subject]" maxlength="75" placeholder="Subject" required data-error="Please enter your Subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="messages_message" name="messages[message]" maxlength="255" rows="4" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">

                                        <input type="hidden" name="token" value="{{ csrf_token('form-message') }}" />
                                        <button class="btn hvr-hover" id="submit" type="submit">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->





{% endblock %}
