{% extends 'homebase.html.twig' %}

{% block title %}Eskimeyen Moda | {{ setting[0].title }} {% endblock %}
{% block keywords %} {{ setting[0].keywords }}{% endblock %}
{% block description %} {{ setting[0].description }}{% endblock %}
{% block slider %} {% include('home/slider.html.twig') %} {% endblock %}
{% block body %}
    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                {% for rs in products %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{{ asset('uploads/images/'  ~ rs.image) }}" style="height: 400px; width: 400px" alt="" />
                        <a class="btn hvr-hover" href="{{ path('product_show', {'id': rs.id}) }}" >{{rs.title}}</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>New Products</h1>
                        <p>Best products ever.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for rs in newproducts %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <a class="btn hvr-hover" href="{{ path('product_show', {'id': rs.id}) }}" >
                            <img src="{{ asset('uploads/images/'  ~ rs.image) }}" style="height: 400px; width: 500px" class="img-fluid" alt="Image">
                            </a>
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{{ path('product_show', {'id': rs.id}) }}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{{ rs.title }}</h4>
                            <h5> $7.79</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Best Products</h1>
                        <p>Best And Cheap</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for rs in products %}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <a class="btn hvr-hover" href="{{ path('product_show', {'id': rs.id}) }}" >
                            <img class="img-fluid" src="{{ asset('uploads/images/'  ~ rs.image) }}" style="height: 400px; width: 500px" alt="" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{rs.title}}</h3>
                                <p>{{ rs.description }}</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {%  endfor %}


            </div>
        </div>
    </div>
    <!-- End Blog  -->


    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            {% for rs in new2products %}
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{ asset('uploads/images/'  ~ rs.image) }}" style="height: 200px; width: 200px" alt="" />
                    <div class="hov-in">
                        <a href="{{ path('product_show', {'id': rs.id}) }}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
    <!-- End Instagram Feed  -->


{% endblock %}
