<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{{ asset('assets') }}/admin/vendor/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="{{ asset('assets') }}/admin/vendor/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="{{ asset('assets') }}/admin/vendor/magnific-popup/magnific-popup.css" />
<link rel="stylesheet" href="{{ asset('assets') }}/admin/vendor/bootstrap-datepicker/css/datepicker3.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ asset('assets') }}/admin/stylesheets/theme.css" />

<!-- Skin CSS -->
<link rel="stylesheet" href="{{ asset('assets') }}/admin/stylesheets/skins/default.css" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{{ asset('assets') }}/admin/stylesheets/theme-custom.css">

<section role="main" class="content-body">


    <form role="form" name="image" action="{{ path('user_image_new', {'id': id}) }}" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="exampleInputEmail1">Title</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="image_title" name="image[title]" maxlength="50">
                    <input type="hidden" class="form-control" id="image_product" name="image[product]" value="{{ id }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="exampleInputFile">Gallery Image</label>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image_image" name="image[image]">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.title }}</td>
                <td><img src="{{ asset('uploads/images/'~image.image) }}" height="40"> </td>
                <td>
                    <form method="post" action="{{ path('user_image_delete', {'id': image.id,'pid': id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>