<aside id="sidebar-right" class="sidebar-right">
    <div class="nano">
        <div class="nano-content">
            <a href="#" class="mobile-close visible-xs">
                Collapse <i class="fa fa-chevron-right"></i>
            </a>

            <div class="sidebar-right-wrapper">

                <div class="sidebar-widget widget-calendar">
                    <h6>Upcoming Tasks</h6>
                    <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                </div>



            </div>
        </div>
    </div>
</aside>
</section>

<!-- Vendor -->
<script src="{{ asset('assets') }}/admin/vendor/jquery/jquery.js"></script>
<script src="{{ asset('assets') }}/admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="{{ asset('assets') }}/admin/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{{ asset('assets') }}/admin/vendor/nanoscroller/nanoscroller.js"></script>
<script src="{{ asset('assets') }}/admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="{{ asset('assets') }}/admin/vendor/magnific-popup/magnific-popup.js"></script>
<script src="{{ asset('assets') }}/admin/vendor/jquery-placeholder/jquery.placeholder.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{ asset('assets') }}/admin/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="{{ asset('assets') }}/admin/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{ asset('assets') }}/admin/javascripts/theme.init.js"></script>