{% extends 'adminbase.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowURL,windowName,windowFeatures){  window.open(windowURL,windowName,windowFeatures);}
    </SCRIPT>
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Product Index List</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="/admin">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Product List</span></li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>
        <div class="col-md-2">
            <a href="{{ path('admin_product_new') }}" class="btn btn-block btn-success">Create New</a>

        </div> <br><br>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Image</th>
                <th>Used_year</th>
                <th>Purchase_price</th>
                <th>Sale_price</th>
                <th>Gallery</th>
                <th>status</th>
                <th>actions</th>

            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.keywords }}</td>
                    <td>{{ product.description }}</td>
                    <td><img src="{{ asset('uploads/images/'  ~ product.image) }}" height="40" ></td>
                    <td>{{ product.usedYear }}</td>
                    <td>{{ product.purchasePrice }}</td>
                    <td>{{ product.salePrice }}</td>

                    <td>
                        <a href="javascript:openWin('{{ path('admin_image_new',{'id':product.id }) }}','','toolbar=no,location=no,directories=0,status=no,top=50,left=100,menuBar=no,scrollBars=yes,resizable=no,width=900,height=700');">
                            <img src="{{ asset('assets/admin/img') }}/gallery.jpg" height="40">
                        </a>
                    </td>
                    <td>{{ product.status }}</td>
                    <td>
                        <a href="{{ path('admin_product_show', {'id': product.id}) }}"class="btn btn-block btn-info">Show</a>

                        <a href="{{ path('admin_product_edit', {'id': product.id}) }}"class="btn btn-block btn-info">Edit</a>
                        {{ include('admin/product/_delete_form.html.twig') }}
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <!-- start: page -->
        <!-- end: page -->
    </section>

{% endblock %}